@import "tailwindcss";


.ant-menu {
  background: transparent !important;
}

.ant-menu-item {
  color: white !important;
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
  color: white !important;
}
